.footer{
    background: $primary-color;
    color: $white;
    padding-top: 150px;

    h1{
        font-weight: 700;
        text-align: center;
    }

    p{
        max-width: 45%;
        margin: 20px auto 0;
        text-align: center;
    }

    input{
        padding: 10px 150px;
        border-radius: 8px;
        border: transparent;
        text-align: left;
        color: $grey;
        margin: 40px 20px 90px 320px
    }


    .text-white{
        a{
            font-size: 32px;
        }

        .company-description{
            margin-top: 20px;
            max-width: 60%;
        }
    }
}