.menu{
    background: $primary-color;

    .navbar-brand{
        background: $white;
        color: $primary-color;
        padding: 20px;
        font-size: 24px;
        font-weight: 700;
        border-radius: 10px;

        span{
            color: $secondary-color;
        }
    }

    li{
        padding: 0 10px;

        a{
            color: $white;
        }
    }
}