@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

// colors

$primary-color: #3089dc;
$secondary-color: #80B1DD;
$bg-color: #EAF3FC;
$white: #fff;
$btn-color: #E74C82;
$grey: #676767;